header {
	background-color: #90E0EF;
	color: #fff;
	padding: 20px;
	position: relative;
}



nav li {
	float: right;
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding:4 px;
	overflow:auto;
	position:static;
	text-align: center;
}

nav li a {
	display: block;
	color: #000000;
	text-align: center;
	padding: 14 px 16 px;
	text-decoration:double;
text-size-adjust: bold;
}

.header.share{
    color:#fff;
      border-bottom: .1 rem solid #000000;
      padding-bottom: .5 rem;
	  text-align: center;
  }
  .logo{
	width:50px;
	text-align:left;
  }
